<mat-card>
  <mat-card-title>Nova Materia Prima</mat-card-title>
  <form [formGroup]="form">
    <mat-form-field>
      <input matInput placeholder="Nome" type="text" maxlength="100" formControlName="name">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Valor de venda" mask="separator.2" thousandSeparator="." maxlength="20"
        decimalMarker="," prefix="R$ " formControlName="value">
    </mat-form-field>
  </form>

  <button mat-raised-button [disabled]="form.invalid" (click)="createProduct()" color="primary">
    Salvar
  </button>

  <button mat-raised-button (click)="cancel()">
    Cancelar
  </button>
</mat-card>